# ----------------------------------------------------------------
# Archivos de Entorno y Secretos
# ----------------------------------------------------------------
.env
*.env

# ----------------------------------------------------------------
# Entorno Virtual y Cache de Python
# ----------------------------------------------------------------
venv/
/venv/
__pycache__/
*.pyc

# ----------------------------------------------------------------
# Datos generados y modificados por la Aplicación VIVA# 
# ----------------------------------------------------------------
# Bases de datos
*.db
*.sqlite3
*-journal

# Datos JSON de la aplicación
turnos.json
/datos_extraidos/

# Contenido subido por los usuarios
/assets/dynamic_slides/

# ----------------------------------------------------------------
# Artefactos de Compilación (PyInstaller, etc.)
# ----------------------------------------------------------------
/dist/
/build/
*.spec
*.exe

# ----------------------------------------------------------------
# Logs, Backups y Archivos Temporales
# ----------------------------------------------------------------
*.log
*.backup
*.backup2
/informes_descargados_senapred/

# ----------------------------------------------------------------
# Documentación y otros archivos locales
# ----------------------------------------------------------------
Para produccion.txt