# Entorno Virtual
venv/
/venv/

# Archivos de Python Cache
__pycache__/
*.pyc

# Base de datos
database.db
*.sqlite3

# Logs
*.log

# env
.env

# Backups de base de datos
*.backup
*.backup2

# Contenido subido por el usuario
assets/dynamic_slides/

# Archivos temporales de SQLite
*-journal

#Guia para subir a produccion
Para produccion.txt